/*Variables*/

$color-one: #fed330;
$color-two: #778ca3;
$color-three: black;
$color-four: white;

$font-text: 'Montserrat', sans-serif;

/*Global*/

*, *::before, *::after {
    box-sizing: border-box;
}

body {
margin: 0;
font-size: 16px;
line-height: 1.7;
font-family: $font-text;
}

.container {
max-width: 1140px;
padding: 0 20px;
margin: 0 auto;
}

section {
padding: 96px 0;
}

/*Header*/

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 100%;
}

.header-brand {
    text-decoration: none;
    font-size: 20px;
    }

header .list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;

    li {
    padding-bottom: 20px;
    text-align: center;
    }

    a {
    text-decoration: none;
    /* color: $color-four;*/
    text-transform: uppercase;
    padding: 20px 0;
    font-size: 16px;
    }
}

.splash {
    display: flex;
    flex-direction: column;
    padding: 0;
}